
*{
    font-family: "Junge" , cursive;
}

.navbar{
    background-color: black;
    color:white;
    padding: 1px;
    display: flex;
    justify-content: space-between;
}

.insta{
    width: 3em;
}

.navitems {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navitems a{ 
    text-align: center;
    text-decoration: none;
    color:white;
    display: flex;
    align-items: center;
}

.navitems a:hover{
    cursor: pointer;
    color : grey;
}

.logo{
    font-family: "Junge", cursive;
    margin: 0px;
    width: 14em;
    padding-left: 10px ;
}

@media all and (max-width: 500px){
    .navitems a p{
        display: none;
    }
}